{% block sw_cms_element_category_tree_teaser_preview %}
    <div class="sw-cms-el-preview-owy-category-tree-teaser">
        <div class="sw-cms-el-owy-category-tree-teaser__placeholder--container">
            <div class="sw-cms-el-owy-category-tree-teaser__placeholder--container--item" v-for="(n, index) in 6" :key="index">
                <div class="sw-cms-el-owy-category-tree-teaser__placeholder"></div>
                <p> Sub Category Teaser </p>
            </div>
        </div>
    </div>
{% endblock %}
