{% block sw_cms_el_config_owy_category_tree_teaser %}
<div class="sw_cms_config_owy_category_tree_teaser">
    <sw-text-field
        v-model="element.config.subCatHeading.value"
        :label="$tc('sw-cms.config.owy-sub-cat.categoryTreeTeaser.subheading')"
        :placeholder="$tc('sw-cms.config.owy-sub-cat.categoryTreeTeaser.subheading')"/>
</div>
{% endblock %}
