{% block sw_cms_element_owy_inquiry_form %}
	<div class="sw-cms-el-comp-owy-inquiry-form">
		<img alt="inquiry form" style="width: 100%;" :src="'owychtheme/administration/img/inquiry-form.png' | asset">
	</div>
{% endblock %}
