{% block sw_cms_element_owy_switch_cmspage %}
<div class="sw-cms-el-comp-owy-switch-cmspage">
    <img style="width:100%;" :src="'owychtheme/administration/img/swtich-cmspage.png' | asset">
</div>
{% endblock %}
