{% block block_cbax_lexicon_popular_entries %}
    {% set element = block.slots.getSlot('content') %}
    {% set columns = 1 %}

    <div class="col-12" data-cms-element-id="{{ element.id }}">
        {% block block_cbax_lexicon_popular_entries_inner %}
            {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
        {% endblock %}
    </div>
{% endblock %}
