{% block sw_cms_block_acris_store_locator_page %}
    <div class="sw-cms-block-acris-store-locator-page">
        <slot name="column1"></slot>
        <slot name="column2"></slot>
    </div>
{% endblock %}
