{% block sw_cms_block_owy_news_widget_preview %}
    <div class="sw-cms-preview-owy-news-widget">
        <div class="sw-cms-block-owy-news-widget-placeholder-listing">
            <div class="sw-cms-block-owy-news-widget__placeholder--container">
                <div class="sw-cms-block-owy-news-widget__placeholder--container--item">
                    <div class="sw-cms-block-owy-news-widget__placeholder">
                        <img alt="News listing widget" style="width: 100%; height: 100%;" :src="'owychtheme/administration/img/news-listing-widget.png' | asset">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
