{% block sw_cms_element_owy_broucher_widget %}
<div class="sw-cms-el-comp-owy-broucher-widget">
    <img style="width:100%;" :src="'owychtheme/administration/img/broucher-widget.png' | asset">
</div>
{% endblock %}
