{% block cbax_lexicon_page_box_keyword_headline %}
	<div class="cms-block cms-block-text {{ class }}">
        <div class="cms-block-container" style="padding: 20px;">
        	<div class="cms-block-container-row row cms-row ">  
        		<div class="col-12">               
        			<div class="cms-element-text">
                    	
                        {% block cbax_lexicon_page_box_keyword_headline_headline %}
							<h2>{{ boxKeywordHeadline }}</h2>
                        {% endblock %}
						
                    </div>
				</div>
			</div>
        </div>
    </div>
{% endblock %}
