{% block sw_cms_block_acris_store_locator_page_preview %}
    <div class="sw-cms-preview-acris-store-locator-page">
        {% block sw_cms_block_acris_store_locator_page_preview_image %}
            <div class="acris-store-locator-page-image">
                <img :src="'/acrisstorelocator/static/img/cms/store_locator_page.PNG' | asset">
            </div>
        {% endblock %}
    </div>
{% endblock %}
