{% block sw_cms_element_owy_shoppage_nav %}
    <div class="sw-cms-el-comp-owy-shoppage-nav">
        <img style="width:100%;" :src="'owychtheme/administration/img/shoppage-nav.png' | asset">
    </div>
{% endblock %}