{% block sw_cms_element_owy_category_tree_teaser %}
<div class="sw-cms-el-comp-owy-category-tree-teaser">
    <h3 style="text-align: center" v-html="element.config.subCatHeading.value"></h3>
    <img style="width:100%;" :src="'owychtheme/administration/img/sub-category.png' | asset">
</div>
{% endblock %}
