{% block sw_cms_block_acris_headline_google_map_preview %}
    <div class="sw-cms-preview-acris-store-headline-google-map">

        {% block sw_cms_block_acris_store_headline_content %}
            <div>
                <h2>Lorem ipsum dolor</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
            </div>
        {% endblock %}

        {% block sw_cms_block_acris_headline_google_map_preview_image %}
            <div class="acris-store-headline-google-map-image">
                <img :src="'/acrisstorelocator/static/img/cms/store_locator_map.PNG' | asset">
            </div>
        {% endblock %}
    </div>
{% endblock %}
