{% block sw_cms_element_product_listing_config_layout_select %}
	<sw-select-field v-model="element.config.boxLayout.value" :label="$tc('sw-cms.elements.productBox.config.label.layoutType')">
		{% block sw_cms_element_product_listing_config_layout_select_options %}
			<option value="standard">
				{{ $tc('sw-cms.elements.productBox.config.label.layoutTypeStandard') }}
			</option>
			<option value="image">
				{{ $tc('sw-cms.elements.productBox.config.label.layoutTypeImage') }}
			</option>
			<option value="minimal">
				{{ $tc('sw-cms.elements.productBox.config.label.layoutTypeMinimal') }}
			</option>
			<option value="list">
				List Content
			</option>
		{% endblock %}
	</sw-select-field>
{% endblock %}
