{% block sw_cms_block_owy_news_detail_widget_preview %}
    <div class="sw-cms-preview-owy-news-detail-widget">
        <div class="sw-cms-block-owy-news-detail-widget-placeholder-listing">
            <div class="sw-cms-block-owy-news-detail-widget__placeholder--container">
                <div class="sw-cms-block-owy-news-detail-widget__placeholder--container--item">
                    <div class="sw-cms-block-owy-news-detail-widget__placeholder">
                        <img alt="news detail widget" style="width: 100%; height: 100%;" :src="'owychtheme/administration/img/news-detail-widget.png' | asset">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
