{% block sw_cms_block_acris_headline_google_map %}
    <div class="sw-cms-block-acris-store-headline-google-map">
        <slot name="column1"></slot>
        <slot name="column2"></slot>
    </div>
{% endblock %}
