{% block sw_cms_element_owy_news_widget %}
<div class="sw-cms-el-comp-owy-news-detail-widget">
    <img style="width:100%;" :src="'owychtheme/administration/img/news-detail-widget.png' | asset">
</div>
{% endblock %}
