{% block sw_cms_element_acris_store_details %}
    <div class="sw-cms-el-acris-store-details">
        <h2 style="font-size: 12px;"><span>{{ $tc('acris-stores.cms.elements.acris-store-details.storeName') }} {{ $tc('acris-stores.cms.elements.acris-store-details.storeDepartment') }}</span></h2>
        <p>
            {{ $tc('acris-stores.cms.elements.acris-store-details.addressStreet') }}<br>
            {{ $tc('acris-stores.cms.elements.acris-store-details.zipcodeCity') }}<br>
            {{ $tc('acris-stores.cms.elements.acris-store-details.phone') }}<br>
            {{ $tc('acris-stores.cms.elements.acris-store-details.url') }}<br>
            {{ $tc('acris-stores.cms.elements.acris-store-details.openingHours') }}
        </p>
    </div>
{% endblock %}
