{% block sw_cms_element_acris_store_locator_preview %}
    <div class="sw-cms-el-preview-acris-store-locator">
        <img :src="'/acrisstorelocator/static/img/cms/store_locator_page.PNG' | asset">
    </div>
{% endblock %}
