{% block sw_cms_element_acris_store_group_preview %}
    <div class="sw-cms-el-preview-acris-store-group">
        <img :src="'/acrisstorelocator/static/img/cms/store_group.PNG' | asset">
    </div>
{% endblock %}
