{% block sw_cms_element_owy_faq_widget %}
<div class="sw-cms-el-comp-owy-faq-widget">
    <img style="width:100%;" :src="'owychtheme/administration/img/faq-widget.png' | asset">
</div>
{% endblock %}
