{% block sw_cms_element_owy_organization_widget %}
<div class="sw-cms-el-comp-owy-organization-widget">
    <img style="width:100%;" :src="'owychtheme/administration/img/organization.png' | asset">
</div>
{% endblock %}
