{% block sw_cms_element_acris_store_google_map_config %}
    <div class="sw-cms-el-config-acris-store-google-map">
        {% block sw_cms_element_buy_box_config_content_warning %}
        <sw-alert
            v-if="isStorePage"
            class="sw-cms-el-config-buy-box__warning"
            variant="info"
        >
        {{ $tc('acris-stores.cms.elements.acris-store-google-map.tooltipSettingDisabled') }}
        </sw-alert>
        {% endblock %}

        {% block sw_cms_element_buy_box_config_store_select %}
        <sw-entity-single-select
            v-if="!isStorePage"
            ref="cmsStoreSelection"
            v-model="element.config.store.value"
            entity="acris_store_locator"
            :label="$tc('acris-stores.cms.elements.acris-store-google-map.labelStore')"
            :placeholder="$tc('acris-stores.cms.elements.acris-store-google-map.placeholderStore')"
            :criteria="storeCriteria"
            :context="storeSelectContext"
            @change="onStoreChange"
        >
        </sw-entity-single-select>
        {% endblock %}
    </div>
{% endblock %}
