{% block sw_cms_block_owy_switch_cmspage_preview %}
    <div class="sw-cms-preview-owy-switch-cmspage">
        <div class="sw-cms-block-owy-switch-cmspage-placeholder-listing">
            <div class="sw-cms-block-owy-switch-cmspage__placeholder--container">
                <div class="sw-cms-block-owy-switch-cmspage__placeholder--container--item">
                    <div class="sw-cms-block-owy-switch-cmspage__placeholder">
                        <img alt="switch cms page" style="width: 100%; height: 100%;" :src="'owychtheme/administration/img/swtich-cmspage.png' | asset">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
