{% block sw_cms_element_owy_main_slider %}
<div class="sw-cms-el-comp-owy-main-slider">
    <img style="width:100%;" :src="'owychtheme/administration/img/mainSlider.png' | asset">
</div>
{% endblock %}
