{% block sw_cms_element_acris_store_google_map_preview %}
    <div class="sw-cms-el-preview-acris-store-google-map">
        <img :src="'/acrisstorelocator/static/img/cms/store_locator_map.PNG' | asset">
    </div>
{% endblock %}
