{% block sw_cms_block_acris_store_group_preview %}
    <div class="sw-cms-preview-acris-store-group">
        {% block sw_cms_block_acris_store_group_preview_image %}
            <div class="acris-store-group-image">
                <img :src="'/acrisstorelocator/static/img/cms/store_group.PNG' | asset">
            </div>
        {% endblock %}
    </div>
{% endblock %}
