{% block acris_order_detail %}
    <div class="col-md-12 finish-address">
        {% block order_detail_store_display %}
            <div class="card acris-store-locator-selection-card">
                <div class="card-body">
                    <div class="card-title">
                        {% block finish_store_display_title %}
                            <label class="form-label">
                                {{ "checkout.storeLocatorDisplay.label"|trans|sw_sanitize }}
                            </label>
                        {% endblock %}
                    </div>

                    {% block order_detail_store_display_details %}
                        {% sw_include '@Storefront/storefront/page/account/order-history/custom/acris-order-detail-store.html.twig' %}
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}
