{% block sw_cms_element_owy_shoppage_nav_preview %}
    <div class="sw-cms-el-preview-image">
        <img alt="category-boxes" style="width: 100%; height: 100%;" :src="'owychtheme/administration/img/shoppage-nav.png' | asset">
    </div>
{% endblock %}
